@media all and (min-width: 800px) {
  .container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
  }

  .child {
    scroll-snap-align: start;
  }

  .about-title {
    text-align: right;
  }

  .about-subtitle {
    text-align: right;
  }

  .page-column {
    height: 1px;
  }

  .page-content {
    height: 100vh;
  }

  .autoplay-video {
    height: 100vh;
  }

  .leftcolumn-link:link {
    text-align: right;
  }

  .text-align-right {
    text-align: right;
  }

  .text-align-left {
    text-align: left;
  }

  .sideparagraph {
    border-left: 1px solid;
  }


  .description-column {
    width: 33%;
  }

  .project-description {
    margin-right: 10%;
  }

  .fill-right {
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
  }

  .video-right {
    align-items: center;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    height: 100%;
  }

  .child {
    max-height: 100vw;
    overflow: hidden;
  }

  .img-container {
    float: left;
    width: 50%;
  }

  .description-img {
    border-radius: 1vw;
    margin: 5vh;
    max-width: 25vw;
    max-height: 85vh;
    margin-right: 1vw;
  }

  .noradius {
    border-radius: 0 !important;
  }



}
